/* Selectores agrupados */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.alter,
.main {
  background: yellow;
}
.main {
  color: green;
}

.alter {
  color: red;
}

/* View port */
.box {
  /* display: inline-block; */
  margin-bottom: 200px;
}

.box2 {
  margin-top: 100px;
}

.box .title,
.box2 .title {
  border: black solid 1px;
  background: steelblue;
  /* height: 100px; */
  /* width: 300px; */
}

.box2 .title {
  margin-top: 200px;
}

.box a,
.box2 a {
  display: inline-block;
  border: black solid 1px;
  padding: 10px;
  margin: 20px;
  background: tomato;
  height: 50px;
}

.caja {
  width: 300px;
  height: 200px;
  border: 10px solid green;
  /* border-width: 10px 100px; */
  /* border-color: black yellow; */
  /* border-radius: 500px 200px / 100px; */
  border-radius: 50px;
  /* border-top-left-radius: 500px 100px; */
  color: red;
  padding: 10px;
  margin: 5em auto;
  /* border-top: 10px solid black; */
}

.main-background {
  display: none;
  padding: 50px;
  border: 5px solid red;
}

.background {
  display: block;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  /* border-radius: 50px; */
  padding: 50px;
  background:
  url(https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg),
  url(https://morenodev.com/static/assets/images/me.jpg),
  yellow;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px dotted red;
  background-position: bottom right, top left;
  background-size: 10%, cover;
  background-clip: content-box;
  background-origin: content-box;
}

.gear {
  height: 200px;
  width: 200px;
  border: 20px dotted red;
  border-radius:50%;
  background: gray;
  background-clip: padding-box;
}

.time {
  display: block;
  /* height: 100px; */
  /* content: 'test' */
}

.time:before {
  content: 'before';
  display: inline-block;
  width: 200px;
  height: 200px;
  background: red;
}

.time:after {
  content: url(https://3.bp.blogspot.com/-EfG_Ci7tAmA/WHf5xwzxvvI/AAAAAAAANOM/jFirdCQ30jQ9DW1paz0_-BDnyL4DL8vRQCLcB/s1600/favicon.ico);
  /* content: '1'; */
  height: 200px;
  width: 200px;
  /* margin-top: 100px; */
  background: mediumseagreen;
  display: inline-block;
}

.link {
  /* display: inline-block; */
}

[href$="txt"]::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAKlBMVEX///8AAAD/zJkAZsz/48x+fn4LCwsZGRndAACXl5d1dXUFBQUmJiZtbW1iKHbRAAAA2ElEQVQ4jZ2SSwLDIAgFBTHm1/tft6CiqHRTVsaZPNAkBK18HaUgBa+eT3pAy1Hydb0waucpga01wnD0IuAe76MXcWTFROhEwP0MjM1Ie0DDewTc2r7DRXh1POHdMoLEC8VKfwiogpvQxlMBl3P+IeB8D64wf4sxJHjcRIDXwRp9xuAJek97QDf6B1k5G2Q7ONwazk8Ngcb/wLIzASeIQgTlYeGRE6RHHbLETThGfkkMqh1I9oYSRQjFAOkgS6ibQ2iGjNF5V+qyJpxnXcRolKgGn4OFiYvxBcAmBWBDKh4KAAAAAElFTkSuQmCC)
}
.link::before {
  margin-right: 5px;
}

.link::after {
  content: '';
  display: block;
}

[href$="pdf"]::before {
  content: url(https://3.bp.blogspot.com/-EfG_Ci7tAmA/WHf5xwzxvvI/AAAAAAAANOM/jFirdCQ30jQ9DW1paz0_-BDnyL4DL8vRQCLcB/s1600/favicon.ico)
}

.img {
  float: left;
  margin: 0 10px 0 0;
}

article {
  width: 50%;
  margin: 1em auto;
  border: 1px solid orange;
  /* overflow-x: none; */
  overflow-y: auto;
  /* display: table; */
}

article::after {
  content: '';
  display: block;
  width: 400px;
  height: 400px;
  background: yellow;
  margin: -200px;
}

h1 {
  /* margin-top: 0px; */
}

.background-container {
  padding-top: 0.1px;
  background-color: green;
  height: 500px;
}

.background-container-image {
  padding-top: 0.1px;
  width: 500px;
  height: 600px;
  margin: 100px auto;
  border: 5px solid black;
  padding: 50px;
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: yellow;
  /* background-size: contain; */
  background-size: 200px;
  background-position: right 50px bottom 50px;

  /* background-attachment: scroll; */
  /* box-shadow: 0 0 0px 5px blue,
              0 0 0 20px red,
              0 0 0 40px yellow; */
  /* box-shadow: -10px -10px 40px rgba(0,0,0,.5) inset; */
  box-shadow: 0 10px 40px -10px #000;
  /* border-radius: 10%; */

  /* background-color: yellow; */
  background-image: url(https://scontent.flim9-1.fna.fbcdn.net/v/t1.0-9/18198450_1160905184021277_8186263442162500792_n.png?_nc_cat=0&oh=34e584c86ac605a0eec824d193aaaa77&oe=5B73530A);

}

.background-container-image h1 {
  text-align: center;
}
